.boxs-list {
    list-style: none;
    margin: 2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    
  }
  
  .boxs-list li {
    margin: 0.5rem ;
    border: 1px solid #ccc;
    list-style: none;
    width: 50px;
    height: 50px;
    background-color: red;
    display: flex;
    flex-direction: row;

  }